extends ../layout

block content
	div.team
		div
			h1.title why | not | me?
		div.click
			a#playbtn.fancybox(href='https://www.youtube.com/watch?v=tIcvSc2cxGs&autoplay=1&frameborder="0"&controls=0')
				img(src="/imgs/playbtn.png" alt='play video button')
	
	footer
		div
			img(src="/imgs/footer.png" alt='contact info')
    
