@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
//@import url(https://fonts.googleapis.com/css?family=Lobster);
@import 'modules/_header';
@import 'modules/_footer';
@import 'modules/_global';
@import 'lib/_flexbox';


$lightblue: #47C1FD;

@font-face{
	font-family: dense;
	src: url("/fonts/dense.ttf");
}

img{
  width: 100%;
}

.row{
  margin: 2% auto;
}

.btn{
  border-radius: 0px;
}

.bg{
  position: relative;
  background-image: url("/imgs/good_bg.png");
  height: 650px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-text{
  h3{
    line-height: 30px;
  }
}

.x{
  h1{
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 60px;
    span{
      color: $lightblue;
      display: block;
    }
  }
  img{
    width: auto;
  }
}

.about-text{
  width: 75%;
  margin: 0 auto;
  padding: 2% 2%;
}

.closebtn{
  position: absolute;
  top: 2%;
  right: 15%;
  background: white;
  z-index: 3;
  min-width: 75px;
  a{
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    padding: 10% 15%;
  }
}

#playbtn{
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  height: 170px;
  //margin-top: -170px;
}

#popup{
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 2;
  .imgcntr{
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    a{
      text-align: center;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.mainlogo{
  text-align: center;
  div > img{
    width: 100%;
    height: inherit;
  }
}

.container{
	background-color: rgba(255,255,255,0.6);
	margin-top: 5%;
	p{
		font-size: 18px;
		line-height: 18px;
	}
}

.title{
  text-align: center;
  font-family: logo;
  font-size: 5em;
  margin-top: 2%;
   color: blue;
}

.click{
  //margin: 5% auto;
  cursor:pointer;
  text-align: center;
  position: absolute;
  //bottom: 150px;
  left:0;
  right: 0;
  top: 55%;

  &:hover{
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
    transition: all, 300ms;
    -webkit-transition: all, 300ms;
    -moz-transition: all, 300ms;
   }
   >a{
     >img{
      @media (min-width: 450px) and (max-width: 800px){
        max-height: 85px;
      }
       @media (min-width:800px){
        max-height: 125px;
      }
      @media (max-width:450px){
        max-height: 65px;
      }
     }
   }
}

.content{
  padding-bottom: 2%;
}

.umich {
  background-image: url("/imgs/umich-logo.png");
  height: 60px;
  display: inline-block;
  vertical-align: top;
  background-size: 74px;
  background-repeat: no-repeat;
  background-position: -9px -11px;
  padding-left: 65px;
  font-size: 45px;
  line-height: 45px;
  font-family: dense;
}

.form {
  width: 65%;
  min-width: 250px;
  max-width: 350px;
  margin: 0 auto; }

.part {
  margin: 2% auto; }

.imgwrap {
  width: 59%;
  min-width: 250px;
  margin: 0 auto;
  max-width: 550px; }

section{
  hgroup{
    color: #339df4;
    h2{
      font-size: 50px;
      margin-bottom: 0;
    }
    h3{
      margin-top: 0;
      font-size: 50px;
      font-family: lobster;
    }
  }

  p{
    color: #444;
    font-size: 20px;
    text-align: left;
  }

  .yellow-btn{
    color: #03274C;
    background: #ffd400;
    font-size: 20px;
    padding: 2% 3%;
    border-radius: 0px;
    margin: 0 0 3% 0;

    &:hover{
     background: #E2C11F;
    }
  }
}

@media all and (max-width: 500px){
  section hgroup{
    h1{
      font-size: 36px;
    }
    h3{
      font-size: 36px;
    }
  }
  .about-text{
    width: 98%;
    h3{
      font-size: 20px;
    }
  }

  .x{
    h1{
      font-size: 26px;
      top: 15%;
    }
    img{
      zoom: 0.5;
    }
  }
  .bg{
    height: 250px;
    background-size: contain;
  }
  #playbtn{
    margin-top: auto;
    height: initial;
  }
  .container-fluid{
    padding: 0;
  }
}
