$darkblue: #0f4366;

footer {
  color: blue;
  position: relative;
  text-align: center;
  width: 100%;
  background-image: url('/imgs/footer_why_not_me.png');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  height: 365px;

  >h5{
    color: $darkblue;
  }

    img{
      width: 100%;
    }

    .footer-content{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
}

@media all and (max-width: 500px){
  footer{
    height: 250px;
  }
}