extends ../layout

block content
	div.team
		div.mainlogo
			img(src="/imgs/why.png" alt="logo why not met?")
		div.click
			a#playbtn.fancybox(href='https://www.youtube.com/watch?v=tIcvSc2cxGs&autoplay=1&controls=0')
				img(src="/imgs/playbtn.png" alt='play video button')
	footer
		div
			img(src="/imgs/footer.png" alt='contact info')
    
